.demo-tab-group {
    border: 1px solid #e8e8e8;
}

.demo-tab-content {
    padding: 16px;
}

.flexTrack {
    display: flex;
    flex-wrap: wrap;
}

.albDetails {
    color: rgba(0, 0, 0, .54);
}